.App{
    background-color: #FFFFE0;
    min-width: 360px;
}
.kurs_card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.change_box{
    margin: 10px 10px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px 20px;
}
.change_btn{
    margin: 0 10px;
}

@media screen and (max-width:840px){
    .kurs_card{
        flex-wrap: wrap;
        justify-content: center;
    }
}